<!DOCTYPE html>
<head>
    <meta charset='utf-8'>
    <title>FabricWebApp - Hyperledger Fabric 1.0 Demo Web App</title>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js'></script>
    <script src='client.js'></script>
    <link rel='stylesheet' type='text/css' href='style.css'>
</head>
<body ng-app='app' ng-controller='controller'>
    <div class='horizontal-layout' style='height:97vh; width:98vw'>
        <div class='vertical-layout' style='width:50vw'>
            <div style='display:flex; justify-content:space-between'>
                <span>Available Actions:</span>
            </div>
            <div>
                <input type='text' ng-model='create_account__invoking_user_name' placeholder='Invoking User Name'>
                <input type='text' ng-model='create_account__account_name' placeholder='Account Name'>
                <input type='text' ng-model='create_account__initial_balance' placeholder='Initial Balance'>
                <button ng-click='create_account(create_account__invoking_user_name, create_account__account_name, create_account__initial_balance)'>Create Account</button>
            </div>
<!--            <div>
                <input type='text' ng-model='delete_account__invoking_user_name' placeholder='Invoking User Name'>
                <input type='text' ng-model='delete_account__account_name' placeholder='Account Name'>
                <button ng-click='delete_account(delete_account__invoking_user_name, delete_account__account_name)'>Delete Account</button>
            </div>-->
            <div>
                <input type='text' ng-model='transfer__invoking_user_name' placeholder='Invoking User Name'>
                <input type='text' ng-model='transfer__from_account_name' placeholder='From Account Name'>
                <input type='text' ng-model='transfer__to_account_name' placeholder='To Account Name'>
                <input type='text' ng-model='transfer__amount' placeholder='Amount'>
                <button ng-click='transfer(transfer__invoking_user_name, transfer__from_account_name, transfer__to_account_name, transfer__amount)'>Transfer</button>
            </div>
            <div>
                <input type='text' ng-model='query_balance__invoking_user_name' placeholder='Invoking User Name'>
                <input type='text' ng-model='query_balance__account_name' placeholder='Account Name'>
                <button ng-click='query_balance(query_balance__invoking_user_name, query_balance__account_name)'>Query Balance</button>
            </div>
            <div>
                <input type='text' ng-model='query_account_names__invoking_user_name' placeholder='Invoking User Name'>
                <button ng-click='query_account_names(query_account_names__invoking_user_name)'>Query Account Names</button>
            </div>
            <div>
                <button ng-click='clear_input_fields()'>Clear Input Fields</button>
            </div>
        </div>
        <div class='vertical-layout' style='flex-grow:1'>
            <span style='flex-grow:0'>Event Log</span>
            <textarea style='flex-grow:1' id='log_textarea' readonly ng-model='log_content'>placeholder text</textarea>
        </div>
    </div>
</body>
